@import "global/variables";
@import "global/mixins";

.button {
  @include font(17, 20, 700);
  width: 100%;
  padding: 16px 20px;
  text-transform: uppercase;
  background-color: $basic-white;
  border: 2px solid $medium-grey;
  cursor: pointer;
}
