@import "global/variables";
@import "global/mixins";

.contacts {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
  }
}

.contacts__wrap {
  width: auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 1fr;
    margin-bottom: 63px;
    margin: 0 auto;
    max-width: 1049px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 1150px;
  }
}

.contacts__title,
.contacts__list,
.contacts__description {
  margin: 0;
}

.contacts__title {
  grid-area: 1/1/2/2;
  align-self: end;
  @include font(18, 30, 700);
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    @include font(43, 50, 700);
    padding-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    @include font(53, 57, 700);
    margin-left: 175px;
    padding-bottom: 35px;
  }
}

.contacts__list {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    grid-area: 2/1/2/3;
    display: flex;
    justify-content: space-between;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 2/1/3/2;
    flex-direction: column;
    margin: 0 0 0 175px;
  }
}

.contacts__item {
  display: flex;

  @media (min-width: $tablet-width) {
    &:nth-child(even) {
      width: 50%
    }
  }

  @media (min-width: $desktop-width) {
    width: 85%;

    &:nth-child(even) {
      width: 85%
    }
  }
}

.contacts__name,
.contacts__description {
  @include font(14, 30, $clr:$medium-grey);

  @media (min-width: $tablet-width) {
    @include font(17, 30, $clr:$medium-grey);
  }
}

.contacts__name {
  margin-right: 32px;

  @media (min-width: $tablet-width) {
    margin-right: 24px;
  }
}

.contacts__description--email {
  border-bottom: 1px solid $decor-green;
  align-self: flex-start;
}

.contacts__address {
  font-style: normal;
}

.contacts__map {
  display: block;
  width: 100%;
  height: 454px;
  background-color: $medium-green;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    grid-area: 3/1/3/3;
    height: 457px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1/2/4/4;
    margin-bottom: 0;
  }
}

.contacts__button {
  display: block;
  min-width: 175px;
  @include font(18, 20, 700, $medium-grey);
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-area: 4/1/4/3;
    width: fit-content;
    justify-self: center;
    padding-right: 39px;
    padding-left: 39px;
    @include font(17, 20, 700, $medium-grey);
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 3/1/4/2;
    justify-self: start;
    align-self: end;
    margin: 0 0 0 175px;
  }
}
