@import "global/variables";
@import "global/mixins";

.page-header {
  // display: flex;
  // flex-direction: column;

  // @media (min-width: $tablet-width) {
  //   // flex-direction: row;
  //   margin: 0 auto;
  //   max-width: 1049px;
  //   padding: 0 50px;
  // }

  // @media (min-width: $desktop-width) {
  //   max-width: 1150px;
  // }
}

.page-header__logo {
  display: flex;
  justify-content: center;
  height: 79px;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;

  // box-shadow: inset 0px 1px $light-grey, inset 0px -1px $light-grey;

  @media (min-width: $tablet-width) {
    justify-content: start;
    min-width: 40%;
    height: 81px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    min-width: 33.8%;
    order: 2;
  }
}

.page-header__logo picture {
  margin: auto;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
  }
}

// .page-header__logo img {
//   @media (min-width: $tablet-width) {
//     width: 113px;
//     height: 46px;
//   }

//   @media (min-width: $desktop-width) {
//     width: 149px;
//     height: 72px;
//   }
// }
