@import "global/variables";
@import "global/mixins";

.top-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 79px;
    background-color: $bg-catalog;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    & :first-child {
      padding-left: 0;
    }
  }
}

// .top-list--color {
//   @media (min-width: $tablet-width) {
//     background-color: $bg-grey;
//   }

//   @media (min-width: $desktop-width) {
//   }
// }

.top-list__item {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: initial;
    @include font(15, 24, 700);
    padding: 27px 30px;
  }
}

.top-list__item-features {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    @include font(15, 24, $clr:$medium-grey);
    text-align: end;
  }
}
